<div ng-controller="multiSimulatorController as mc">
   <div class="row">
      <div class="col-md-8">
         <div class="panel panel-default">
            <div style="height:265px" class="panel-body">
               <div class="row">
                  <div id="map_canvas" style="height:248px"></div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="panel panel-default">
            <div style="height:265px" class="panel-body">
               <div class="row">
                  <div class="col-md-4">Vehicle</div>
                  <div class="col-md-8">
                     <select ng-model="AddVehicleData.VehicleId">
                        <option ng-repeat="v in Vehicles" value="{{v._id}}">{{v.Name}}</option>
                     </select>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-4">Trip</div>
                  <div class="col-md-8">
                     <select ng-model="AddVehicleData.TripRow">
                        <option ng-repeat="t in SavedSimulatorTrip track by $index" value="{{$index}}">{{t.Title}}</option>
                     </select>
                  </div>
               </div>
               <div class="row">
                  <hr/>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <button ng-click="AddVehicle()" ng-if="AddVehicleData.VehicleId!=null &amp;&amp; AddVehicleData.TripRow!=null" class="mb-sm btn btn-labeled btn-default">
                        <span class="btn-label"><i class="fa fa-plus"></i>
                        </span>&nbsp;Add Vehicle</button>
                  </div>
                  <div class="col-md-6">
                     <button ng-click="AddVehicleAuto()" ng-if="Vehicles!=null &amp;&amp; SavedSimulatorTrip.length!=0" class="mb-sm btn btn-labeled btn-default">
                        <span class="btn-label"><i class="fa fa-plus"></i>
                        </span>&nbsp;Add Vehicle Automatically</button>
                  </div>
               </div>
               <div class="row">
                  <hr/>
               </div>
               <div class="row">
                  <div class="col-md-12">
                     <button ng-click="ChangeContinuesDriving()" type="button" class="mb-sm btn btn-labeled btn-default">
                        <span class="btn-label"><i ng-class="{'fa-check-square-o':ContinuesDriving,'fa-square-o':!ContinuesDriving}" class="fa"></i>
                        </span>&nbsp;Continues Driving</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <table class="table">
            <thead>
               <tr>
                  <th>&nbsp;</th>
                  <th class="fieldHeader">Vehicle</th>
                  <th class="fieldHeader">Trip</th>
                  <th class="fieldHeader">Step</th>
                  <th class="fieldHeader">Status</th>
                  <th style="zoom:50%;width:200px">
                     <button ng-disabled="SimulationData.length==0" ng-if="SimulationMode.ShowPlay" ng-click="SimulationPlay()" type="button" class="mb-sm btn btn-success"><i class="fa fa-play"></i>
                     </button>
                     <button ng-disabled="SimulationData.length==0" ng-if="SimulationMode.ShowPause" ng-click="SimulationPause()" type="button" class="mb-sm btn btn-info"><i class="fa fa-pause"></i>
                     </button>
                     <button ng-disabled="SimulationData.length==0" ng-if="SimulationMode.ShowStop" ng-click="SimulationStop()" type="button" class="mb-sm btn btn-danger"><i class="fa fa-stop"></i>
                     </button>
                  </th>
               </tr>
            </thead>
            <tbody>
               <tr ng-repeat="row in SimulationData">
                  <td style="zoom:50%">
                     <button are-you-sure="RemoveVehicle($index)" class="mb-sm btn btn-danger">
                        <li class="fa fa-times"></li>
                     </button>
                  </td>
                  <td>{{row.VehicleName}}</td>
                  <td>{{row.Trip.Title}}</td>
                  <td>{{row.SimulationStep}}/{{row.Trip.Events.length}}</td>
                  <td>{{row.SimulationMode}}</td>
                  <td style="zoom:50%;width:200px">
                     <button ng-if="row.SimulationMode!='Play'" ng-click="SimulationPlay($index)" type="button" class="mb-sm btn btn-success"><i class="fa fa-play"></i>
                     </button>
                     <button ng-if="row.SimulationMode=='Play'" ng-click="SimulationPause($index)" type="button" class="mb-sm btn btn-info"><i class="fa fa-pause"></i>
                     </button>
                     <button ng-if="row.SimulationMode!='Stop'" ng-click="SimulationStop($index)" type="button" class="mb-sm btn btn-danger"><i class="fa fa-stop"></i>
                     </button>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>