<h3>Dashboard</h3>
<!-- START widgets box-->
<div ng-controller="mymojioDashboardController" class="row">
   <tabset>
      <tab ng-repeat="vehicle in tabset.tabs" select="changeTab(vehicle)">
         <tab-heading><i class="fa fa-car">&nbsp;</i>
            <span ng-if="vehicle.Name!=null">{{vehicle.Name}}</span>
            <span ng-if="vehicle.Name==null">No Name</span>
         </tab-heading>
         <div class="row">
            <div class="col-md-3">
               <div class="panel panel-primary">
                  <div class="panel-heading">My Car's Health</div>
                  <div class="panel-body">Body</div>
               </div>
            </div>
            <div class="col-md-9">
               <div class="panel panel-primary">
                  <div class="panel-heading">My Car's Location</div>
                  <div ng-if="vehicle._active" style="height: 300px" mojio-simple-map="mojio-simple-map" geoloc="vehicle.LastLocation" class="panel-body"></div>
               </div>
            </div>
            <div class="col-md-3">
               <div class="panel panel-primary">
                  <div class="panel-heading">My Car's Report</div>
                  <div class="panel-body">Body</div>
               </div>
            </div>
            <div class="col-md-9">
               <div class="panel panel-primary">
                  <div class="panel-heading">My Car's Chart</div>
                  <div class="panel-body">
                     <morris-chart xkey="xkey" ykeys="ykeys" labels="labels" data="myModel" ng-if="myModel"></morris-chart>
                  </div>
               </div>
            </div>
         </div>
      </tab>
   </tabset>
</div>