<h3>My Cars</h3>
<!-- START widgets box-->
<div ng-controller="mymojioCarsController" class="row">
   <tabset>
      <tab ng-repeat="vehicle in tabset.tabs" select="changeTab(vehicle)">
         <tab-heading><i class="fa fa-car">&nbsp;</i>
            <span ng-if="vehicle.Name!=null">{{vehicle.Name}}</span>
            <span ng-if="vehicle.Name==null">No Name</span>
         </tab-heading>
         <div class="row">
            <div class="col-md-3">
               <div class="panel panel-primary">
                  <div class="panel-heading"><i class="fa fa fa-car"></i>&nbsp; My Car's Status</div>
                  <div class="panel-body">
                     <h4>Parked</h4>
                  </div>
               </div>
               <div class="panel panel-primary">
                  <div class="panel-heading"><i class="fa fa fa-cubes"></i>&nbsp; Device</div>
                  <div class="panel-body">
                     <h4>Status: Disconnected</h4>
                     <h4>IMEI: 2343423423423</h4>
                  </div>
               </div>
            </div>
            <div class="col-md-9">
               <div class="panel panel-primary">
                  <div class="panel-heading">Notifications</div>
                  <div class="panel-body"></div>
               </div>
            </div>
            <div class="col-md-3">
               <div class="panel panel-primary">
                  <div class="panel-heading">30 Day Report</div>
                  <div class="panel-body">
                     <div class="row">
                        <div class="col-md-2 text-center"><i class="fa fa fa-exchange"></i>
                        </div>
                        <div class="col-md-7">&nbsp;Number of Trips</div>
                        <div class="col-md-3">{{vehicle.Stat.TripsNo}}</div>
                     </div>
                     <div class="row">
                        <div class="col-md-2 text-center"><i class="fa fa fa-openid"></i>
                        </div>
                        <div class="col-md-7">&nbsp;Distance</div>
                        <div class="col-md-3">{{vehicle.Stat.Distance | number:'2'}}</div>
                     </div>
                     <div class="row">
                        <div class="col-md-2 text-center"><i class="fa fa fa-clock-o"></i>
                        </div>
                        <div class="col-md-7">&nbsp;Duration</div>
                        <div class="col-md-3">{{vehicle.Stat.Duration | hhmmss}}</div>
                     </div>
                     <div class="row">
                        <div class="col-md-2 text-center"><i class="fa fa fa-tint"></i>
                        </div>
                        <div class="col-md-7">&nbsp;Fuel Consumed</div>
                        <div class="col-md-3">{{vehicle.Stat.FuelCon | number:'2'}}</div>
                     </div>
                     <div class="row">
                        <div class="col-md-2 text-center"><i class="fa fa fa-tint"></i>
                        </div>
                        <div class="col-md-7">&nbsp;Fuel Efficiency</div>
                        <div class="col-md-3">{{vehicle.Stat.FuelEff | number:'2'}}</div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-9">
               <div class="panel panel-primary">
                  <div class="panel-heading">30 Day Chart</div>
                  <div class="panel-body">
                     <morris-chart style="height:300px" ng-if="vehicle.ChartData" xkey="vehicle.Chart.xkey" ykeys="vehicle.Chart.ykeys" labels="vehicle.Chart.labels" data="vehicle.ChartData" line-colors="vehicles.Chart.lineColors"></morris-chart>
                  </div>
               </div>
            </div>
         </div>
      </tab>
   </tabset>
</div>