<h3>Dashboard</h3>
<!-- START widgets box-->
<div ng-controller="mymojioDashboardController" class="row">
   <tabset>
      <tab ng-repeat="vehicle in tabset.tabs" select="changeTab(vehicle)">
         <tab-heading><i tooltip="{{vehicle.Name}}" class="fa fa-car">&nbsp;</i>
            <span ng-if="tabset.tabs.length&lt;7 || vehicle._active">{{vehicle.Name}}</span>
         </tab-heading>
         <div class="row">
            <div class="col-md-3">
               <div class="panel panel-primary">
                  <div class="panel-heading">My Car's Health</div>
                  <div class="panel-body">
                     <div class="row">
                        <div class="col-md-12"><i class="fa fa fa-dashboard"></i>&nbsp;Excellent Health</div>
                     </div>
                     <div class="row">
                        <div class="col-md-12"><i class="fa fa fa-exclamation-triangle"></i>&nbsp;0 DTC Fault</div>
                     </div>
                     <div class="row">
                        <div class="col-md-12"><i class="fa fa fa-tint"></i>&nbsp;27% Remaining</div>
                     </div>
                     <div class="row">
                        <div class="col-md-12"><i class="fa fa fa-openid"></i>&nbsp;135 km Range</div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-9">
               <div class="panel panel-primary">
                  <div class="panel-heading">My Car's Location</div>
                  <div ng-if="vehicle._active" style="height: 300px" mojio-simple-map="mojio-simple-map" geoloc="vehicle.LastLocation" class="panel-body"></div>
               </div>
            </div>
            <div class="col-md-3">
               <div class="panel panel-primary">
                  <div class="panel-heading">30 Day Report</div>
                  <div class="panel-body">
                     <div class="row">
                        <div class="col-md-7"><i class="fa fa fa-exchange"></i>&nbsp;# Trip</div>
                        <div class="col-md-5">{{vehicle.Stat.TripsNo}}</div>
                     </div>
                     <div class="row">
                        <div class="col-md-7"><i class="fa fa fa-openid"></i>&nbsp;Distance</div>
                        <div class="col-md-5">{{vehicle.Stat.Distance | number:'2'}}</div>
                     </div>
                     <div class="row">
                        <div class="col-md-7"><i class="fa fa fa-clock-o"></i>&nbsp;Duration</div>
                        <div class="col-md-5">{{vehicle.Stat.Duration | hhmmss}}</div>
                     </div>
                     <div class="row">
                        <div class="col-md-7"><i class="fa fa fa-tint"></i>&nbsp;Fuel Consumed</div>
                        <div class="col-md-5">{{vehicle.Stat.FuelCon | number:'2'}}</div>
                     </div>
                     <div class="row">
                        <div class="col-md-7"><i class="fa fa fa-tint"></i>&nbsp;Fuel Efficiency</div>
                        <div class="col-md-5">{{vehicle.Stat.FuelEff | number:'2'}}</div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-9">
               <div class="panel panel-primary">
                  <div class="panel-heading">30 Day Chart</div>
                  <div class="panel-body">
                     <morris-chart style="height:300px" ng-if="vehicle.ChartData" xkey="vehicle.Chart.xkey" ykeys="vehicle.Chart.ykeys" labels="vehicle.Chart.labels" data="vehicle.ChartData" line-colors="vehicles.Chart.lineColors"></morris-chart>
                  </div>
               </div>
            </div>
         </div>
      </tab>
   </tabset>
</div>