<!--Created by pooyaparidel on 15-03-17.
 -->
<div class="panel panel-default">
   <div class="panel-heading">Load Data
      <paneltool tool-collapse="tool-collapse"></paneltool>
   </div>
   <div collapse="panelStream" class="panel-wrapper">
      <div class="panel-body">
         <div class="col-md-12">
            <div class="input-group">
               <span class="input-group-btn">
                  <div class="btn btn-default">APN</div>
               </span>
               <input type="text" ng-model="ApnConfiguration.Apn" class="form-control" />
            </div>
            <br/>
         </div>
         <div class="col-md-12">
            <div class="input-group">
               <span class="input-group-btn">
                  <div class="btn btn-default">APN</div>
               </span>
               <input type="text" ng-model="ApnConfiguration.Apn" class="form-control" />
            </div>
            <br/>
         </div>
      </div>
   </div>
</div>