<!--Created by pooyaparidel on 15-03-16.
-->
<ago>= (val) ->
   <val>= 0 | (Date.now() - val) / 1000</val>
   <datelength>=
      <second>
         <60></60>
      </second>
      <minute>
         <60></60>
      </minute>
      <hour>
         <24></24>
      </hour>
      <day>
         <7></7>
      </day>
      <week>
         <4 class="35"></4>
      </week>
      <month>
         <12></12>
      </month>
      <year>
         <10000></10000>
      </year>
   </datelength>
   <result>= undefined</result>
   <for>key, value of datelength
      <result>= val % value</result>
      <return>result + ' ' + (if result - 1 then key + 's' else key)</return>
   </for>
   <return></return>
</ago>
<alert>1</alert>