<!--Created by pooyaparidel on 15-03-27.-->
<!--Created by pooyaparidel on 15-03-11.
 [{"MojioModel":"Users/:id/Mojios","defaultCriteria":"","criteria":""}]
-->
<!--Created by pooyaparidel on 15-03-11.
 [{"MojioModel":"api","defaultCriteria":"","criteria":""}]
-->
<!--Created by pooyaparidel on 15-03-11.
 [{"MojioModel":"Users/:id/Mojios","defaultCriteria":"","criteria":""}]
-->
<!--Created by pooyaparidel on 15-03-11.
 [{"MojioModel":"Users/:id/Mojios","defaultCriteria":"","criteria":""}]
-->
<!--Created by pooyaparidel on 15-03-11.
 [{"MojioModel":"api","defaultCriteria":"","criteria":""}]
-->
<!--Created by pooyaparidel on 15-03-11.
 [{"MojioModel":"api","defaultCriteria":"","criteria":""}]
-->
<span ng-controller="mojioGridController" data-alias="UserMojioGrid" data-mojioapi="[{&quot;Parent&quot;:&quot;&quot;,&quot;MojioModel&quot;:&quot;Vehicles&quot;,&quot;defaultCriteria&quot;:&quot;&quot;,&quot;criteria&quot;:&quot;&quot;},{&quot;Parent&quot;:&quot;Mojio&quot;,&quot;MojioModel&quot;:&quot;Vehicles&quot;,&quot;defaultCriteria&quot;:&quot;MojioId=:id&quot;,&quot;criteria&quot;:&quot;&quot;},{&quot;Parent&quot;:&quot;User&quot;,&quot;MojioModel&quot;:&quot;Users/:id/Vehicles&quot;,&quot;defaultCriteria&quot;:&quot;&quot;,&quot;criteria&quot;:&quot;&quot;}]">
   <span st-pipe="callServer" st-table="displayed">
      <div class="panel-body">
         <table class="table table-hover">
            <thead ng-show="selectedRow==null">
               <tr>
                  <th colspan="3"><i class="fa fa-car fa-2x"></i>
                  </th>
                  <th ng-show="s.f[0].show" data-show="true" st-sort="IMEI" class="fieldHeader">NAME</th>
                  <th ng-show="s.f[1].show" data-show="true" st-sort="NAME" class="fieldHeader">LAST LOCATION</th>
                  <th ng-show="s.f[2].show" data-show="true" st-sort="STATE" class="fieldHeader">LAST CONTACT</th>
                  <th ng-show="s.f[3].show" data-show="true" st-sort="CONTACT" class="fieldHeader">FUEL LEVEL</th>
                  <th ng-show="s.f[4].show" data-show="true" st-sort="CONTACT" class="fieldHeader">VIN</th>
                  <th ng-show="s.f[5].show" data-show="true" st-sort="CONTACT" class="fieldHeader">IGNITION</th>
               </tr>
            </thead>
            <tbody ng-show="selectedRow==null &amp;&amp; !isLoading">
               <tr ng-repeat-start="row in displayed">
                  <td>
                     <a href="" ng-click="detailRow(row,'broadcast')">
                        <li class="fa fa-tag"></li>
                     </a>
                  </td>
                  <td></td>
                  <td>
                     <a href="" ng-click="showSubGrid(row,'Trips')">
                        <li class="fa fa-openid"></li>
                     </a>
                  </td>
                  <td ng-show="s.f[0].show">{{row.Name}}</td>
                  <td ng-show="s.f[1].show">
                     <mojio-location geoloc="row.LastLocation"></mojio-location>
                  </td>
                  <td ng-show="s.f[2].show">{{row.LastContactTime | date:'yy-MM-dd HH:mm'}}</td>
                  <td ng-show="s.f[3].show">
                     <progressbar max="100" value="row.FuelLevel" ng-style="{height:7}" class="progress-striped active"></progressbar>
                  </td>
                  <td ng-show="s.f[4].show">{{row.VIN}}</td>
                  <td ng-show="s.f[5].show">{{row.IgnitionOn}}</td>
               </tr>
               <tr ng-repeat-end="ng-repeat-end">
                  <td colspan="40" ng-if="subGrid==row &amp;&amp; subGridType=='Trips'">
                     <span ng-controller="mojioGridController" data-alias="UserMojioGrid" data-mojioapi="[{&quot;MojioModel&quot;:&quot;Vehicles/:id/Trips&quot;,&quot;defaultCriteria&quot;:&quot;&quot;,&quot;criteria&quot;:&quot;&quot;}]">
                        <span st-pipe="callServer" st-table="displayed">
                           <div class="panel-body">
                              <table class="table table-hover">
                                 <thead ng-show="selectedRow==null">
                                    <tr>
                                       <th colspan="2"><i class="fa fa-openid fa-2x"></i>
                                       </th>
                                       <th ng-show="s.f[0].show" data-show="true" st-sort="IMEI" class="fieldHeader">S ADDRESS</th>
                                       <th ng-show="s.f[1].show" data-show="true" st-sort="STATE" class="fieldHeader">S TIME</th>
                                       <th ng-show="s.f[2].show" data-show="true" st-sort="CONTACT" class="fieldHeader">E ADDRESS</th>
                                       <th ng-show="s.f[3].show" data-show="true" st-sort="CONTACT" class="fieldHeader">E TIME</th>
                                    </tr>
                                 </thead>
                                 <tbody ng-show="selectedRow==null &amp;&amp; !isLoading">
                                    <tr ng-repeat="row in displayed">
                                       <td>
                                          <a href="" ng-click="detailRow(row,'broadcast')">
                                             <li class="fa fa-tag"></li>
                                          </a>
                                       </td>
                                       <td>
                                          <a href="" ng-click="detailRow(row)">
                                             <li class="fa fa-code"></li>
                                          </a>
                                       </td>
                                       <td ng-show="s.f[0].show">
                                          <mojio-location geoloc="row.StartLocation" address="row.StartAddress"></mojio-location>
                                       </td>
                                       <td ng-show="s.f[1].show">{{row.StartTime | date:'yy-MM-dd HH:mm'}}</td>
                                       <td ng-show="s.f[2].show">
                                          <mojio-location geoloc="row.EndLocation" address="row.EndAddress"></mojio-location>
                                       </td>
                                       <td ng-show="s.f[3].show">{{row.EndTime | date:'yy-MM-dd HH:mm'}}</td>
                                    </tr>
                                 </tbody>
                                 <tbody ng-show="selectedRow!=null &amp;&amp; selectedType==&quot;&quot;">
                                    <tr>
                                       <td>
                                          <button type="button" href="" ng-click="selectRow(null)" class="btn">
                                             <li class="fa fa-arrow-left"></li>Close</button>
                                          <br/>
                                          <br/>
                                          <textarea style="height:300px;background-color:rgba(0, 0, 0, 0.01);border:0px" class="col-lg-12">{{selectedRow | json}}</textarea>
                                       </td>
                                    </tr>
                                 </tbody>
                                 <tfoot>
                                    <tr ng-show="selectedRow==null &amp;&amp; (displayed.length!=0 || isLoading)">
                                       <td ng-show="isLoading" colspan="40"><i class="fa fa-spinner fa-spin fa-2x"></i>
                                       </td>
                                       <td ng-show="!isLoading" st-pagination="" st-displayed-pages="10" st-items-by-page="itemsPerPage || 10" colspan="40" class="text-center"></td>
                                    </tr>
                                 </tfoot>
                              </table>
                           </div>
                        </span>
                     </span>
                  </td>
               </tr>
            </tbody>
            <tfoot>
               <tr ng-show="selectedRow==null &amp;&amp; (displayed.length!=0 || isLoading)">
                  <td ng-show="isLoading" colspan="40"><i class="fa fa-spinner fa-spin fa-2x"></i>
                  </td>
                  <td ng-show="!isLoading" st-pagination="" st-displayed-pages="10" st-items-by-page="itemsPerPage || 10" colspan="40" class="text-center"></td>
               </tr>
            </tfoot>
         </table>
      </div>
   </span>
</span>